.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .bullet-points {
    width: 50%;
    margin-right: 20px;
  }

  .github-stats {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .bullet-points,
  .github-stats {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
